.BuildingSlot {
    height: 100px;
    width: 105px;
    position: relative;
    border-color: rgba(37, 38, 39, 0.25);
    border-style: solid;
    border-width: 1px;
}

.BuildingSlot img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.BuildingSlot:hover {
    opacity: 0.75;
}

.BuildingSlot:focus {
    opacity: 0.75;
    outline: 0;
}