html {
  height: 100%;
}

body {
  background-color: aqua;
  height: 1400px;
}

.row {
  display: table-row;
}

.Base {
  background-image: url('../../img/background/background_base_NOD.jpg');
  background-repeat: no-repeat;
  background-position: center top; 
  height: 1000px
    
}

.BaseLayout {
  display: table;
  margin: 0 auto;
  align-self: center;
  position: relative;
  justifyContent: 'center';
}

.BuildingSlot {
  display: table-cell;
  border: 0.01em solid grey;
  width: 100px;
  height: 100px;
  position: relative;
}

.BuildingSlot:hover {
  
  opacity: 0.75;
}

.BuildingSlot:focus {
  opacity: 0.75;
  outline: 0;
}

.BuildingSlot img {
  //z-index: -1;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /*  display: flex;
  margin: auto;*/
}

.BuildingMenu {
  background-color: white;
  max-width: 20%;
  height: auto;

}
.BuildingMenu .BuildingMenuItem {
  display: inline-block;
  max-width: 25%;
  height: auto;
  align-content: center;
}

.BuildingMenu .BuildingMenuItem img {
  height: auto;
  max-width: 100%;

}


.BuildingMenu .BuildingMenuItem p{
  text-align: center;
  color: black;
}


.BaseHeader {
//background-color: black;
  background-image: url('../../img/background/background_base_top_NOD.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 200px;
  position: relative;
  bottom:0px;
  width:100%;
}

.InputLvl {
  width: 30px;
  z-index: 10;
  font-family: sans-serif;

}



