.ProductionInfo {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    border-radius: 3px;

    position: relative ;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

    width: 820px;
    height:100px;
    background: #EEE;
    margin: 20px;
}

.ProductionInfo div {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;

    width: 300px;
    height: 35%;
    background-color: #EEE;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    border-radius: 3px;

    font-size: 20px;
    color: #5b0066;
    font-weight: bold;
    letter-spacing: 3px;
}
